<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pouya's Bookstore</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <style>
      body {
        background-color: #9dc9f5;
        padding-top: 20px;
      }
      .card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
      }

      .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .card-text {
        margin-bottom: 5px;
      }
      
      .card-body {
        flex: 1;
      }

    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-primary"
      style="position: sticky"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Pouya Bookstore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a class="nav-link" href="/user/books"
                ><i class="fas fa-shopping-cart"></i> Books</a
              >
            </li>
			
            <li class="nav-item mx-3">
              <a class="nav-link" href="/user/cart"><i class="fas fa-book"></i> Cart</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/user/orders"
                ><i class="fas fa-clipboard-list"></i> Orders</a
              >
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="/user/signout"
                ><i class="fas fa-sign-out-alt"></i> Sign Out</a
              >
            </li>
			<div class="navbar-text ms-auto ml-4" style="font-weight: bold;" id="weatherLocation">
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center mb-4">All Books</h1>
      <div class="row">
        <% books.forEach(book => { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><%= book.Name %></h5>
              <p class="card-text"><strong>ISBN:</strong> <%= book.ISBN %></p>
              <p class="card-text">
                <strong>Author:</strong> <%= book.Author %>
              </p>
              <p class="card-text"><strong>Price:$</strong> <%= book.price %></p>
              <p class="card-text"><%= book.description %></p>
              <button
                class="btn btn-primary btn-block m-2 addToCart"
                data-book-id="<%= book._id %>"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      const userId = "<%= userId %>";
      console.log(userId);
      localStorage.setItem("userId", userId);

      const addCart = async (bookId, userId) => {
        fetch("http://localhost:8080/user/cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            bookId: bookId,
            userId: userId,
          }),
        })
          .then(function (response) {
            if (response.ok) {
              alert("Book added to cart successfully!");
            } else {
              alert("Failed to add book to cart. Please try again later.");
            }
          })
          .catch(function (error) {
            console.error("Error:", error);
          });
      };

      document.addEventListener("DOMContentLoaded", function () {
        var addToCartButtons = document.querySelectorAll(".addToCart");

        addToCartButtons.forEach(function (button) {
          button.addEventListener("click", function (event) {
            var bookId = event.target.getAttribute("data-book-id");
            addCart(bookId, userId); 
            console.log("Add to Cart clicked for book ID:", bookId);
          });
        });
      });
    </script>
	<script>
        function fetchWeatherAndLocation() {
            fetch('/user/weather/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('weatherLocation').innerHTML = `<i class="fas fa-thermometer-half"></i> ${data.temp}°C, ${data.country}`;
					console.log(data); 
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        document.addEventListener('DOMContentLoaded', fetchWeatherAndLocation);
    </script>
  </body>
</html>
