<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pouya's Bookstore</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <style>
      body {
        background-color: #9dc9f5;
        padding-top: 20px;
      }
      .card {
        margin-bottom: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
      }
      .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .card-text {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-primary"
      style="position: sticky"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Pouya Bookstore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a class="nav-link" href="/guest/books"
                ><i class="fas fa-shopping-cart"></i> Books</a
              >
            </li>
            
            <li class="nav-item mx-3">
              <a class="nav-link" href="/user/login"
                ><i class="fas fa-sign-out-alt"></i> Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center mb-4">All Books</h1>
      <div class="row">
        <% books.forEach(book => { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><%= book.Name %></h5>
              <p class="card-text"><strong>ISBN:</strong> <%= book.ISBN %></p>
              <p class="card-text">
                <strong>Author:</strong> <%= book.Author %>
              </p>
              <p class="card-text"><strong>Price:</strong> <%= book.price %></p>
              <p class="card-text"><%= book.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <dialog id="noticeDialog" class="alert alert-dark text-white h4">          
            <div class="card">
              <div class="card-header h2 text-white bg-info text-center">
                Terms and Conditions
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Welcome to our online store! Please review our policies:</p>
                          <ul>
                              <li>Returns within 30 days with receipt.</li>
                              <li>All credit cards accepted.</li>
                              <li>Membership rewards program available.</li>
                              <li>24/7 customer support.</li>
                          </ul>
                  <hr>
                  <footer class="blockquote-footer">We value your business and strive to provide the best service.
                    <div class="input-group mb-3">
                      <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                          aria-label="Checkbox for following text input" id="agree">
                      </div>
                      <input type="text" class="form-control" aria-label="I agree to terms & conditions" value="I agree"
                        disabled>
                    </div>
              </div>
  
              <form method="dialog" class="text-center">
                <button class="btn btn-lg btn-info" id="noticeButton">Click</button>
              </form>
              </footer>
              </blockquote>
            </div>
        
      </dialog>
    

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
        const noticeDialog = document.querySelector("#noticeDialog");
        noticeDialog.showModal();
        document.querySelector("#noticeButton").onclick = (event) => {
          event.preventDefault();
        if (document.querySelector("#agree").checked) noticeDialog.close();
        };
    </script>

    
  </body>
</html>
